extends ../layout

block yield
	form(action='/user/register', method='POST')
		input(type='text', name='username', placeholder='用户名', value='sang')
		input(type='password', name='password', placeholder='密码', value='000000')
		input(type='submit', value='注册')
